<mat-card>
  <mat-card-content>
    <div class="bootstrap-wrapper">
      <div class="container">
        <div class="row">
          <div class="col-md-6 offset-3 text-center">
            <h3 class="mt-4">Add New Question to {{ qTitle }}</h3>
            <form #addQuestion="ngForm">
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>Content</mat-label>
                <input
                  type="text"
                  name="content"
                  [(ngModel)]="question.content"
                  id=""
                  matInput
                  placeholder="Enter Content"
                  row="10"
                  required
                />
              </mat-form-field>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Option 1</mat-label>
                    <input
                      type="text"
                      name="option1"
                      [(ngModel)]="question.option1"
                      id=""
                      matInput
                      placeholder="Enter Option 1"
                      required
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Option 2</mat-label>
                    <input
                      type="text"
                      name="option2"
                      [(ngModel)]="question.option2"
                      id=""
                      matInput
                      placeholder="Enter Option 2"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>

              <div class="row">
                <div class="col-md-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Option 3</mat-label>
                    <input
                      type="text"
                      name="option3"
                      [(ngModel)]="question.option3"
                      id=""
                      matInput
                      placeholder="Enter Option 3"
                      required
                    />
                  </mat-form-field>
                </div>

                <div class="col-md-6">
                  <mat-form-field class="w-100" appearance="outline">
                    <mat-label>Option 4</mat-label>
                    <input
                      type="text"
                      name="option4"
                      [(ngModel)]="question.option4"
                      id=""
                      matInput
                      placeholder="Enter Option 4"
                      required
                    />
                  </mat-form-field>
                </div>
              </div>

              <mat-form-field appearance="outline" class="w-100">
                <mat-label>Answer</mat-label>
                <mat-select
                  name="answer"
                  [(ngModel)]="question.answer"
                  required
                >
                  <mat-option
                    *ngIf="question.option1"
                    [value]="question.option1"
                  >
                    {{ question.option1 }}
                  </mat-option>
                  <mat-option
                    *ngIf="question.option2"
                    [value]="question.option2"
                  >
                    {{ question.option2 }}
                  </mat-option>
                  <mat-option
                    *ngIf="question.option3"
                    [value]="question.option3"
                  >
                    {{ question.option3 }}
                  </mat-option>
                  <mat-option
                    *ngIf="question.option4"
                    [value]="question.option4"
                  >
                    {{ question.option4 }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
              <br />

              <div class="form-group text-center">
                <button mat-raised-button color="warn" (click)="onSubmit()">
                  ADD Question
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </mat-card-content>
</mat-card>
