<mat-card class="myclass">
  <mat-action-list>
    <button mat-list-item>
      <mat-icon mat-list-icon></mat-icon>Available Categories
    </button>

    <button mat-list-item [routerLink]="'/user-dashboard/' + zero">
      <mat-icon mat-list-icon>quiz</mat-icon>All Quizes
    </button>

    <button
      mat-list-item
      [routerLink]="'/user-dashboard/' + c.cid"
      *ngFor="let c of categories"
    >
      <mat-icon mat-list-icon>quiz</mat-icon>{{ c.title }}
    </button>
  </mat-action-list>
</mat-card>
